menu "Zephyr"
source "Kconfig.zephyr"

	config EERIE_LEAP_UI_RENDERER_THREAD_STACK_SIZE
		int "UI renderer thread stack size"
		default 8192

	config EERIE_LEAP_FLOAT_SIGNIFICANT_DIGITS
		int "Floating point significant digits"
		default 4

endmenu

module = APP
module-str = APP
