# Copyright 2025 Pavel Maloletkov.
# SPDX-License-Identifier: Apache-2.0

# CO5300 QSPI Display Controller Configuration

config ELCO5300
	bool "CO5300 QSPI Display Controller"
	default y
	depends on DT_HAS_CHIPONE_ELCO5300_ENABLED
	help
	  Enable support for the CO5300 QSPI display controller.
