// ESP32-S3 Reference Manual:
// https://www.espressif.com/sites/default/files/documentation/esp32-s3_technical_reference_manual_en.pdf

/ {
    aliases {
        lfs1 = &lfs1;
        modbus0 = &modbus0;
    };

    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
		zephyr,entropy = &trng0;
    };

    fstab {
        compatible = "zephyr,fstab";

        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            read-size = <16>;
			prog-size = <256>;
			cache-size = <256>;
			lookahead-size = <32>;
            block-cycles = <512>;
            partition = <&lfs1_partition>;
            mount-point = "/lfs1";
            automount;
        };
    };
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		lfs1_partition: partition@700000 {
			label = "lfs1_storage";
			reg = <0x700000 DT_SIZE_M(1)>; // 1MB at offset 7MB
		};
	};
};

&usb_serial {
    status = "okay";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";

    modbus0: modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO17>;
			output-high;
		};
		group2 {
			pinmux = <UART1_RX_GPIO16>;
			bias-pull-up;
		};
	};
};

&spi3 {
	status = "okay";
};
