// ESP32-S3 Reference Manual:
// https://www.espressif.com/sites/default/files/documentation/esp32-s3_technical_reference_manual_en.pdf

/ {
    aliases {
        intfs0 = &intfs0;
        gpio0buttons = &gpio0buttons;
        can0 = &can0;
    };

    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
		zephyr,entropy = &trng0;
    };

    fstab {
        compatible = "zephyr,fstab";

        intfs0: intfs0 {
            compatible = "zephyr,fstab,littlefs";
            read-size = <16>;
			prog-size = <256>;
			cache-size = <256>;
			lookahead-size = <32>;
            block-cycles = <512>;
            partition = <&intfs0_partition>;
            mount-point = "/intfs0";
            automount;
        };
    };

    gpio0buttons: gpio0buttons {
		compatible = "gpio-keys";

		di_0: di_0 {
			gpios = <&gpio0 0 GPIO_PULL_UP>;
            zephyr,code = <INPUT_BTN_0>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		intfs0_partition: partition@600000 {
            label = "intfs0_storage";
            reg = <0x600000 DT_SIZE_M(2)>; // 2MB at offset 6MB
        };
	};
};

&usb_serial {
    status = "okay";
};

&spi3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spim3_canbus>;
	pinctrl-names = "default";

	can0: mcp2518fd@0 {
		compatible = "microchip,mcp251xfd";
		reg = <0>;
		status = "okay";

		// MCP2518FD maximum SPI frequency is 20 MHz
		// But current temp setup is not stable at frequencies above 8 MHz
		// TODO: Investigate
		spi-max-frequency = <8000000>;
		int-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
		osc-freq = <20000000>;
	};

	can-transceiver {
		max-bitrate = <8000000>;
	};
};

&pinctrl {
    spim3_canbus: spim3_canbus {
		group1 {
			pinmux = <SPIM3_MISO_GPIO17>,
				     <SPIM3_SCLK_GPIO44>,
				     <SPIM3_CSEL_GPIO18>;
		};
		group2 {
			pinmux = <SPIM3_MOSI_GPIO16>;
			output-low;
		};
	};
};

&spi3 {
	status = "okay";
};
